body{ 
    background-color: #fffbf7;
}

h1{
    color: #025157;
    text-align: center;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button{
    color: #fff;
    background-color: #025157;
}

.header{
    margin: 40px 20px 0px 20px;
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/ 
    font-size: 0;
    height: 45px;
}

.fixed-header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
}

.logo{
    width: 15%;
}

.logo > img{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    font-family: 'Pangolin', cursive;
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
   
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions > a{
    color: #67b54b;
    
}

.actions > button{
    background-color: #67b54b;
    color: white;
    padding: 12px 14px 12px 14px;
    border-radius: 5px;
    border: 0;
}

.main{
    margin-top: 285px;
    text-align: center;
}

.publish{
    margin-left: 30px;

}

.publish h3{
    color:#025157;
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    line-height: 48px;
}

.publish > p{
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish > form {
    display: flex;
}

.publish > form p{
    color: #025157;
    margin-right: 18px;
}


.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}

.logro{
    background-color: #a1d683;
    width: 100%;
}

.logros{
    background-color: #a1d683;
    display: flex;
    margin: 100px auto;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-around;
}


.logros1 h4{
    color:#025157;
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    line-height: 100px;
}

.logros1 > p{
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.logros1 img{
    width: 500px;
    margin-top: 30px;
}

.logros2 {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.logros2 h5{
    color:#025157;
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    line-height: 10px;
}

.logros2 > p{
    color: #343434;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.logros2 > div{
    color: #646262;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.persona{
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.marca {
    background-color: #f9da73;
    border-radius: 50%;
    position: absolute;
    bottom: -1270px;
    right: 200px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.marca > img{
    width: 70%;
    margin: auto;
}

.howitworks{
    background-color: #fffbf7;
    text-align: center;
}

.howitworksintro{
    margin-bottom: 50px;
}

.howitworksintro h3{
    color: #025157;
    font-size: 50px;
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 8px;
}

.howitworksintro p{
    color: #343434;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 60%;
    margin: 0 auto;
}

.howitworksintro button{
    margin-top: 20px;
}

.howitworkscards{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    padding: 5% 10%;
    margin-top: 5%;
}

.howitworkscards > article{
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.howitworkscards h4{
    color: #025157;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 8px;
    text-align: center;
}

.howitworkscards p{
    color: #343434;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 16px;
    max-width: 60%;
    margin: 0 auto;
    font-weight: 400;
}

.howitworkscards a{
    color: #67b54b;
    margin-top: 10px;
    line-height: 1.4;
    font-size: 16px;
}


